#map-show-canvas {
  height: 400px;

  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
}

#map-index-canvas {
  height: 100%;

  // border: 1px solid #999;
  // -moz-box-shadow:    0px 0px 5px #ccc;
  // -webkit-box-shadow: 0px 0px 5px #ccc;
  // box-shadow:         0px 0px 5px #ccc;
}